/*
SENG 513 Individual Project
Maryam Sohrabi 10077637
Lab section B04
*/

html, body {
    height: 100vh;
}

.row {
    display: flex;
}

.col {
    height: 11vh;
}

#game-text {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
}

#game {
    margin: 0;
}

#grid-container {
    padding: 15px;
    width: 100%;
    border: 2px solid black;
}

#frame {
    background-color: cornflowerblue;
    /*margin-right: auto;
    margin-left: auto;*/
    width: 80vh;
}

#theme-panel {
    width: auto;
}

#theme-list {
    width: 100%;
}

#my-name {
    display: inline-block;
}

#opponent-name {
    display: inline-block;
    font-weight: bold;
}

.themed.original {
    background-color: white;
}
.themed.original #frame {
    background-color: #348ceb;
}
.circle.themed.empty {
    background-color: white;
}
.circle.themed.original.player-1 {
    background-color: yellow;
}
.circle.themed.original.player-2 {
    background-color: red;
}

.themed.pumpkin #frame {
    background-color: rgb(248, 195, 137);
}
.circle.themed.pumpkin.player-1 {
    background-color: rgb(233, 159, 78);
}
.circle.themed.pumpkin.player-2 {
    background-color: rgb(120, 154, 101);
}

.themed.forest #frame {
    background-color: #68864f;
}
.circle.themed.forest.player-1 {
    background-color: #314a1d;
}
.circle.themed.forest.player-2 {
    background-color: #494122;
}

.themed.beach #frame {
    background-color: rgb(216, 203, 187);
}
.circle.themed.beach.player-1 {
    background-color: rgb(15, 205, 197)
}
.circle.themed.beach.player-2 {
    background-color: rgb(54, 128, 201);
}

.circle-demo.theme-demo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle-demo.theme-demo.original.player-1 {
    background-color: yellow;
}
.circle-demo.theme-demo.original.player-2 {
    background-color: red;
}

.circle-demo.theme-demo.pumpkin.player-1 {
    background-color: rgb(233, 159, 78);
}
.circle-demo.theme-demo.pumpkin.player-2 {
    background-color: rgb(120, 154, 101);
}

.circle-demo.theme-demo.forest.player-1 {
    background-color: #314a1d;
}
.circle-demo.theme-demo.forest.player-2 {
    background-color: #494122;
}

.circle-demo.theme-demo.beach.player-1 {
    background-color: rgb(15, 205, 197)
}
.circle-demo.theme-demo.beach.player-2 {
    background-color: rgb(54, 128, 201);
}

.circle {
    position: relative;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

#my-tile {
    width: 20px;
    height: 20px;
}

#opponent-tile {
    width: 20px;
    height: 20px;
}

.theme-active {
    font-weight: bold;
}