/* .col-1 {
    width: 15%;
    height: 30px;
    border: 1px solid blue;
} */

.row {
    display: flex;
}

.col {
    height: 11vh;
    border: 1px solid purple;
}

#grid-container {
    padding: 15px;
    width: 100%;
}

#frame {
    background-color: cornflowerblue;
    /*margin-right: auto;
    margin-left: auto;*/
    width: 80vh;
}

#theme-panel {
    width: auto;
}

#theme-list {
    width: 100%;
}

#my-name {
    display: inline-block;
}

#opponent-name {
    display: inline-block;
    font-weight: bold;
}

.themed.original {
    background-color: skyblue;
}
.themed.original #frame {
    background-color: blue;
}
.circle.themed.original.player-1 {
    background-color: yellow;
}
.circle.themed.original.player-2 {
    background-color: red;
}

.themed.pumpkin {
    background-color: lawngreen;
}
.themed.pumpkin #frame {
    background-color: peru;
}
.circle.themed.pumpkin.player-1 {
    background-color: orange;
}
.circle.themed.pumpkinl.player-2 {
    background-color: darkgreen;
}

.themed.forest {
    background-color: #CBCCBC;
}
.themed.forest #frame {
    background-color: rgb(21, 32, 23);
}
.circle.themed.forest.player-1 {
    background-color: rgb(99, 114, 93);
}
.circle.themed.forest.player-2 {
    background-color: rgb(82, 99, 108);
}

.themed.beach {
    background-color: sandybrown;
}
.themed.beach #frame {
    background-color: steelblue;
}

.circle {
    position: relative;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

/* .player-1 {
    background-color: yellow;
}

.player-2 {
    background-color: red;
} */



/*
.grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 1rem;
}
.row {
    display: flex;
}
.box {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative;
}
.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/